<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  lang="he" xmlns="http://www.w3.org/1999/xhtml" >

<head  >
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>מילוי דו"ח</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

<!-- jQuery library -->
<script type="" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script type="" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


 <style> 
     #products div  p{
     width:50%;
    margin:auto;
      padding-top:10px;
   }
   </style>
</head>



<body style="direction:rtl" >
 <!--tr ng-repeat="Form in Forms" -->     
 <tr >     

<div class="container" style="padding-top:25px; padding:auto 0px">


  <h1>סיכום טיפול בשפה ודיבור</h1>
  
</div>
<button  style="background-color:#ec9e9e; font-size:16px"  class="btn btn-block" data-toggle="modal" data-target="#myModal" ng-click="addItem()">הוסף חדש</button>

<td ><button class="btn " data-toggle="modal" data-target="#myModal2" ng-click="editItem(Form)">ערוך</button></td>
				<td ><button class="btn " ng-click="removeItem(Form._id,Form)">הסר</button></div></td>



 <!-- My  Products     -->  
  <section id="products" class="row">
         
     <div class="col-sm-6" style="float:right">
     <form role="form">
      <h3><b>1.פרטי מטופל</b></h3>
          <div class="form-group col-sm-6 " style="float:right">
            <label for="name">שם:</label>
            <input type="text" class="form-control" id="fn"/>
          </div>
            <div class="form-group col-sm-6 " style="float:right">
            <label for="name">משפחה:</label>
            <input type="text" class="form-control" id="ln"/>
          </div>
          
          <div class="form-group col-sm-6" style="float:right">
            <label for="id">ת.ז:</label>
            <input type="text" class="form-control" id="id1"/>
          </div>
           <div class="form-group col-sm-6" style="float:right">
            <label for="id">תאריך לידה:</label>
            <input type="text" class="form-control" id="burn"/>
          </div>
          <div class="form-group col-sm-6" style="float:right">
            <label for="address">כתובת:</label>
            <input type="text" class="form-control" id="add"/>
          </div>
          <div class="form-group col-sm-6">
              <label for="sel1">עיר:</label>
              <select class="form-control" id="city">
                <option>ירושלים</option>
                <option>בני ברק</option>
                <option>תל אביב</option>
                <option>ראשון לציון</option>
                <option>פתח תקוה</option>
              </select>
            </div>
            <div class="form-group col-sm-6" style="float:right">
            <label for="address">מס' טלפון:</label>
            <input type="text" class="form-control" id="phone"/>
          </div>
            <div class="form-group col-sm-6" style="float:right">
            <label for="address">שם האב:</label>
            <input type="text" class="form-control" id="fathern"/>
          </div>
           <div class="form-group col-sm-6" style="float:right">
            <label for="address">מס' אחים:</label>
            <input type="text" class="form-control" id="siblings"/>
          </div>
          <div class="form-group col-sm-6" style="float:right">
          <label for="address">שפה:</label>
         <div class="checkbox">
          <label><input type="checkbox" name="optradio">עברית    </label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" name="optradio">אנגלית    </label>
        </div>
		<div class="checkbox">
          <label><input type="checkbox" name="optradio">אמהרית    </label>
        </div>
        <div class="checkbox ">
          <label><input type="checkbox" name="optradio" >     צרפתית</label>
        </div>
        <div class="checkbox ">
          <label><input type="checkbox" name="optradio" >      רוסית</label>
        </div>
        <div class="checkbox ">
          <label><input type="checkbox" name="optradio" >ספרדית      </label>
        </div>
        </div>

        <div class="form-group col-sm-6">
              <label for="sel1">מסגרת חינוכית:</label>
              <select class="form-control" id="Select1">
                <option>רגילה</option>
                <option>חינוך מיוחד</option>
                <option>שפה</option>
              </select>
            </div>
                 

            

        </form>
      </div>

  <div class="col-sm-6"  >
   
    <form role="form">
    <h3><b>2.פרטי הטיפול</b></h3>

    <div class="form-group col-sm-10" style="float:right">
      <label for="comment">אבחונים וטיפולים נוספים</label>
      <textarea class="form-control" rows="6" id="comment">{{Form.AdditionalDiagnostics}}</textarea>
    </div>
    <div class="form-group col-sm-6" style="float:right">
            <label for="address">גורם מפנה:</label>
            <input type="text" class="form-control" id="send1">{{Form.Referrer}}</input>
          </div>

          <div class="form-group col-sm-6">
              <label for="sel1">סיבת ההפניה:</label>
              <select class="form-control" id="Select2">
			  <option> {{Form.causeReferral}}</option>
                <option>מובנות דיבור ירודה</option>
                <option>קשיי שפה</option>
                <option>אחר</option>
               
              </select>
            </div>

            <div class="form-group col-sm-6" style="float:right">
            <label for="address">תאריך:</label>
            <input type="text" class="form-control" id="date">{{Form.date}}</input>
          </div>
          <div class="form-group col-sm-6" style="float:right">
            <label for="address">בדיקת שמיעה:</label>
            <input type="text" class="form-control" id="ear">{{Form.HearingTest}}</input>
          </div>
           <div class="form-group col-sm-6" style="float:right">
            <label for="address">מועד אבחון</label>
            <input type="text" class="form-control" id="date2">{{Form.DateDiagnosis}}</input>
          </div>
            <div class="form-group col-sm-6" style="float:right">
            <label for="address">שם מאבחן:</label>
            <input type="text" class="form-control" id="speachT">{{Form.diagnosesName}}</input>
          </div>
          <div class="form-group col-sm-10" style="float:right">
      <label for="comment">תוצאות האבחון:</label>
      <textarea class="form-control" rows="6" id="result">{{Form.DiagnosticResults}}</textarea>
    </div>
    </form>
  </div>
                 
                   
        </section><!--End of My  Products     -->
<section id="products" class="row">
<div class="col-sm-6" style="float:right" >
<form role="form">
<h3><b>3.סיכום</b></h3>
          <div class="form-group col-sm-4" style="float:right">
            <label for="address">תחילת טיפול</label>
            <input type="text" class="form-control" id="Text1">{{Form.GettingTreatment}}</input>
          </div>
          <div class="form-group col-sm-4" style="float:right">
            <label for="address">סדרת טיפול מס':</label>
            <input type="text" class="form-control" id="numof">{{Form.eriesRegimen}}</input>
          </div>
           <div class="form-group col-sm-4" style="float:right">
            <label for="address">סה"כ טיפולים בפועל:</label>
            <input type="text" class="form-control" id="Text2">{{Form.TotalActualTreatments}}</input>
          </div>
          <div class="form-group col-sm-10" style="float:right">
      <label for="comment">רקע</label>
      <textarea class="form-control" rows="6" id="backg">{{Form.background}}</textarea>
    </div>
       <div class="form-group col-sm-10" style="float:right">
      <label for="comment">תוכנית טיפולית</label>
      <textarea class="form-control" rows="6" id="prog">{{Form.TherapeuticProgram}}</textarea>
    </div>
       <div class="form-group col-sm-10" style="float:right">
      <label for="comment">התקדמות ומהלך הטיפול</label>
      <textarea class="form-control" rows="6" id="conti">{{Form.ProgressDuringTreatment}}</textarea>
    </div>
       <div class="form-group col-sm-10" style="float:right">
      <label for="comment">המלצות</label>
      <textarea class="form-control" rows="6" id="recomm">{{Form.Recommendations}}</textarea>
    </div>
	
</form>
</div>
<div class="col-sm-6"  >
<button type="submit" class="btn btn-default">אישור ושליחה</button>
</div>

</section>



</tr>

<!-- Modal for create fun'-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="displayForm">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">
       
          <div class="form-group">  <input type="text" ng-model="Form.AdditionalDiagnostics"  class="form-control" placeholder="אבחונים וטיפולים נוספים" style="direction:rtl"/></div>
          <div class="form-group"><input type="text" ng-model="Form.Referrer"  class="form-control" placeholder="גורם מפנה" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.causeReferral"  class="form-control" placeholder="סיבת ההפניה" style="direction:rtl"/></div>    
          <div class="form-group"> <input type="text" ng-model="Form.date"  class="form-control" placeholder="תאריך" style="direction:rtl"/></div>
		  <div class="form-group"> <input type="text" ng-model="Form.HearingTest"  class="form-control" placeholder="בדיקת שמיעה" style="direction:rtl"/></div> 
		  <div class="form-group"> <input type="text" ng-model="Form.DateDiagnosis"  class="form-control" placeholder="מועד אבחון" style="direction:rtl"/></div> 
		  <div class="form-group"> <input type="text" ng-model="Form.diagnosesName"  class="form-control" placeholder="שם מאבחן" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.DiagnosticResults"  class="form-control" placeholder="תוצאות האבחון" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.GettingTreatment"  class="form-control" placeholder="תחילת טיפול" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.eriesRegimen"  class="form-control" placeholder="סדרת טיפול מס" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.TotalActualTreatments"  class="form-control" placeholder=" טיפולים בפועל" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.background"  class="form-control" placeholder="רקע" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.TherapeuticProgram"  class="form-control" placeholder="תוכנית טיפולית" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.ProgressDuringTreatment"  class="form-control" placeholder="התקדמות ומהלך הטיפול" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.Recommendations"  class="form-control" placeholder="המלצות" style="direction:rtl"/></div>
		
      </div>
      <div class="modal-footer">       
         <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
		 <button class="btn btn-primary" ng-click="create()">שמור</button>
         
      </div>
    </div>
  </div>
</div>


<!-- Modal for addit fun'-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="displayForm">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">
       
		  <div class="form-group">  <input type="text" ng-model="Form.AdditionalDiagnostics"  class="form-control" placeholder="אבחונים וטיפולים נוספים" style="direction:rtl"/></div>
          <div class="form-group"><input type="text" ng-model="Form.Referrer"  class="form-control" placeholder="גורם מפנה" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.causeReferral"  class="form-control" placeholder="סיבת ההפניה" style="direction:rtl"/></div>    
          <div class="form-group"> <input type="text" ng-model="Form.date"  class="form-control" placeholder="תאריך" style="direction:rtl"/></div>
		  <div class="form-group"> <input type="text" ng-model="Form.HearingTest"  class="form-control" placeholder="בדיקת שמיעה" style="direction:rtl"/></div> 
		  <div class="form-group"> <input type="text" ng-model="Form.DateDiagnosis"  class="form-control" placeholder="מועד אבחון" style="direction:rtl"/></div> 
		  <div class="form-group"> <input type="text" ng-model="Form.diagnosesName"  class="form-control" placeholder="שם מאבחן" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.DiagnosticResults"  class="form-control" placeholder="תוצאות האבחון" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.GettingTreatment"  class="form-control" placeholder="תחילת טיפול" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.eriesRegimen"  class="form-control" placeholder="סדרת טיפול מס" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.TotalActualTreatments"  class="form-control" placeholder=" טיפולים בפועל" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.background"  class="form-control" placeholder="רקע" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.TherapeuticProgram"  class="form-control" placeholder="תוכנית טיפולית" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.ProgressDuringTreatment"  class="form-control" placeholder="התקדמות ומהלך הטיפול" style="direction:rtl"/></div>
          <div class="form-group"> <input type="text" ng-model="Form.Recommendations"  class="form-control" placeholder="המלצות" style="direction:rtl"/></div>
				  
      
	  
	  
	  
      </div>
      <div class="modal-footer">       
         <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
		 <button class="btn btn-primary" ng-click="update(Form._id)">עדכן</button>
         
      </div>
    </div>
  </div>
</div>
<div style="height:60px; background-color:#5c627c"> </div>







</body>
</html>
